<a href="https://colab.research.google.com/github/Alexsandro-Ctba/Alexsandro-Ctba/blob/main/Curso_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
5 == 4

False

In [3]:
15 > 20

False

In [4]:
15<20

True

In [10]:
'python' == 'java'

False

In [11]:
'python' > 'java'

True

In [12]:
'pao' > 'bau '

True

In [13]:
'bau' > 'pao'

False

In [18]:
nome = 'pao'
nome_1 ='bau'
print(nome_1.encode())
#resultado: b'bau'
# b significa que a codifição é utf8.

b'bau'

In [23]:
num_endereco = 500
num_endereco_2 = 2014

In [25]:
num_enderecox = str(num_endereco)
print(type(num_enderecox))
#resultado <class 'str'> exibe o tipo da variavel que se torna string agora.
num_endereco_2 = int(num_endereco_2)
print(type(num_endereco_2)) #resultado retorna tipo da variavel

<class 'str'>
<class 'int'>

# LIST
Aceitam valores duplicados

In [29]:
#criando listas
frutas = ['banana','maça','melanacia','laranja','caju','abacaxi','abacate']
saldo_alunos  =[500.00,1200.00,1000,600.00,5000.00]
num_pacientes =[25,36,50,45,22,33,89]
print(type(frutas))

<class 'list'>

In [31]:
frutas_dup = ['banana','banana','melanacia','laranja','caju','abacaxi','abacate','abacate']

In [32]:
print(frutas_dup)

['banana', 'banana', 'melanacia', 'laranja', 'caju', 'abacaxi', 'abacate', 'abacate']

In [27]:
print(saldo_alunos)

[500.0, 1200.0, 1000, 600.0, 5000.0]

In [28]:
print(num_pacientes)

[25, 36, 50, 45, 22, 33, 89]

In [33]:
#exibindo tamanho da lista 

len(frutas_dup)

8

In [35]:
list_variada =[10,2.5,'python']
print(list_variada)

[10, 2.5, 'python']

In [37]:
#acessar item da lista 
print(frutas[0])

banana

In [39]:
#add item ao final da lista frutas 

frutas.append('morando')
print(frutas)

['banana', 'maça', 'melanacia', 'laranja', 'caju', 'abacaxi', 'abacate', 'morando', 'morando']

In [59]:
#extendendo listas 

#forma errada de juntar
juntando_listas = saldo_alunos + frutas
print(juntando_listas)
#forma certa
saldo_alunos.extend(num_pacientes)
print(type(saldo_alunos))

[500.0, 1200.0, 1000, 600.0, 5000.0, 25, 36, 50, 45, 22, 33, 89, 25, 36, 50, 45, 22, 33, 89, 25, 36, 50, 45, 22, 33, 89, 25, 36, 50, 45, 22, 33, 89, 25, 36, 50, 45, 22, 33, 89, 25, 36, 50, 45, 22, 33, 89, 'abacate', 'abacate']
<class 'list'>

# TUPLAS
Aceitam valores duplicados

In [42]:
frutas = ['banana','maça','melanacia','laranja','caju','abacaxi','abacate']
saldo_alunos  =[500.00,1200.00,1000,600.00,5000.00]
num_pacientes =[25,36,50,45,22,33,89]

In [45]:
#imprimindo da posição 0 até a 3

print(frutas[0:4])

['banana', 'maça', 'melanacia', 'laranja']

In [47]:
#permite valores duplicados
frutas = ['abacate','abacate']
print(frutas)

['abacate', 'abacate']

In [52]:
#juntar duplas, diferente da lista que utilizamos extend podemos usar aqui o operador +
tupla_junto = frutas + num_pacientes
print(tupla_junto)

print(type(tupla_junto))

['abacate', 'abacate', 25, 36, 50, 45, 22, 33, 89]
<class 'list'>

In [63]:
#contar valores repetidos em tupla 
num_pacientes =[25,36,50,45,22,33,89,89,25,36,50,45,45,45,45,45]

contador = num_pacientes.count(45)

print(contador)

6

# SET
> Não podem ser modifcados 

> Não aceitam duplicados

In [64]:
cidades ={'belo horizonte','curitiba','natal','manaus'}
print(type(cidades))

In [66]:
cidades2 ={'belo horizonte','curitiba','natal','manaus','natal','natal'}
  #não será exibido erros porém valores repetidos não serão inseridos
print(cidades2)

{'natal', 'belo horizonte', 'manaus', 'curitiba'}

In [67]:
#verificar se valor esta na variavel set, retorna true ou false 
print('manaus' in cidades2)

True

In [68]:
#verificar se valor esta na variavel set, retorna true ou false 
print('parana' in cidades2)

False

In [73]:
#usando add p/ adicionar item a variavel set
cidades2.add('porto alegre')

In [72]:
print(cidades2)

{'belo horizonte', 'porto alegre', 'natal', 'curitiba', 'manaus'}

In [74]:
#unindo dados de set

cidades3 ={'Curitiba','Campo largo','itajai'}

In [78]:
cidades2.update(cidades3)#isso unira a cidades3 a cidades2
print(cidades2)
print(cidades3)

{'belo horizonte', 'porto alegre', 'natal', 'curitiba', 'itajai', 'Curitiba', 'Campo largo', 'manaus'}
{'Campo largo', 'itajai', 'Curitiba'}

# DICTIONARY
> Normalmente usado para trabalhar com códigos unicos 

> Duplicados não permitidos 

> Usado para criar tabelas dimensão

In [93]:
cod_uf = {
    21 : 'Maranhão',
    22 :  'Piaui',
    23 :  'Rio grande do sul',
    24 :  'Paraiba',
    25 :  'Pernanbuco',
    26 :  'Alagoas',
    27 :  'Sergipe',
    28 :  'Bahia',
    29 : 'Ceára'
    }

In [84]:
print(cod_uf)

{21: 'Maranhão', 22: 'Piaui', 23: 'Rio grande do sul', 24: 'Paraiba', 25: 'Pernanbuco', 26: 'Alagoas', 27: 'Sergipe', 28: 'Bahia', 29: 'Ceára'}

In [86]:
#pegar valor do dicionario 
cod_uf.values()

dict_values(['Maranhão', 'Piaui', 'Rio grande do sul', 'Paraiba', 'Pernanbuco', 'Alagoas', 'Sergipe', 'Bahia', 'Ceára'])

In [90]:
#valores duplicados não ssão permitidos
cod_uf_dup = {
    29 : 'Ceára',
    29 : 'Ceára'
    }

print(cod_uf)# valores são exibidos porém repetidos não.

{29: 'Ceára'}

In [97]:
#acessando valores do Dictionary

pegando_valor = cod_uf.get(21)
print(pegando_valor)

#acessando valor da chave
pegando_chave = cod_uf.keys()
print(pegando_chave)

Maranhão
dict_keys([21, 22, 23, 24, 25, 26, 27, 28, 29])

In [100]:
#adicionando novos valores em ordem
cod_uf[30] ='Cidade adicionada'
print(cod_uf)

{21: 'Maranhão', 22: 'Piaui', 23: 'Rio grande do sul', 24: 'Paraiba', 25: 'Pernanbuco', 26: 'Alagoas', 27: 'Sergipe', 28: 'Bahia', 29: 'Ceára', 30: 'Cidade adicionada'}